* {
    padding: 0;
    margin: 0;
}

.parentCards {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    background-color: cadetblue;
}

.card {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 40px;
    padding: 30px 25px;
    border-radius: 10px;
    background-color: red;
}

.card h1 {
    margin: 0 0 15px 0;
}

.card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid blue;
}